/* 0 -600 => phone 
  600 - 900 => tab-port
  900 -1200 => tab-land
  1200 - 1800 => desk
  1800 > x  = big
*/

@mixin r($breakpoint) {
  @if $breakpoint == phone {
    @media screen and (max-width : 600px) {
      @content
    }
  };

  @if $breakpoint == tab-port {
    @media screen and (max-width : 900px) {
      @content
    }
  };

  @if $breakpoint == tab-land {
    @media screen and (max-width : 1200px) {
      @content
    }
  };

  @if $breakpoint == big {
    @media screen and (min-width : 1800px) {
      @content
    }
  };
}
// @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
    padding: 0;
    margin: 0;
}


html {
  font-size: 62.5%; 
}



body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h1 {
  @include r(tab-port) {
    font-size: 2.5rem !important;
}
}

p {
  font-size: 1.5rem;
}