.header {
    position: relative;
    
    &-home {
        background-image: linear-gradient(to right bottom , rgba(128, 128, 128, 0.349) , rgba(255, 255, 255, 0.411) ) 
        ,url(../img/header-back-2.jpg) ;
        background-size: cover;
        height: 90vh;

        @include r(tab-port){
            height: 60vh;
        }

       
    }

    &-other {
        background-image: linear-gradient(to right bottom , rgba(128, 128, 128, 0.349) , rgba(255, 255, 255, 0.411) ) 
        , url(../img/header-recipe.jpg);
        height: 50vh;
        box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.04);
        background-size: cover;
        background-position: top;
       
    }

    &-topbar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 0;
        right: 0;
        top: 2rem;
        z-index: 100;
        transition: all .3s;
        height: 5rem;
        


        @include r(tab-port){
            background-color: white;
            top: 0;
            flex-wrap: wrap;
            padding: .3rem 2rem;
            height: auto;
            box-shadow:  0 1px 1rem rgba(0, 0, 0, 0.4);


        }

        
    
    }

    &-logo {
        position: relative;

        @include r(tab-port){
            width: 50%;
            text-align: left;
            
           
        }
        &-img {
            width: 5.5rem;
            // height: 5rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include r(tab-port){
                width: 4rem;
            }
            
        }
    }

    &-navbar {
        
        &-list {
            list-style-type: none;
            display: inline-block;

            @include r(tab-port){
                display: none;
                text-align: center;
                
            }
        }

        &-item {
            display: inline;
            
            @include r(tab-port){
                display: block;
                margin-bottom: 1rem;

            }
            
            &:not(:last-child){
                margin-right: .9rem;
            }

            a {
            text-decoration: none;
            color: $midnight-color ;
            transition: all .1s ease-in;
            font-size: 1.3rem;
            font-weight: 500;
            background-color: rgba(255, 255, 255, 0.477);
            padding: .5rem .5rem;
            border-radius: 3px;

            @include r(tab-port){
                background-color : none;
                border-radius: 0;
                padding: 0;
            }

            &.border-bottom {
            border-bottom: medium solid $primary-color-dark;
            padding-bottom: 3px;
            border-radius: 1px;

            @include r(tab-port){
                border-bottom : none;
                padding-bottom: none;
                border-radius: 0;
            }
            }

            &:hover {
                border-bottom: medium solid $primary-color-dark;
                padding-bottom: 3px;
                border-radius: 1px;
                
                @include r(tab-port){
                border-bottom : none;
                padding-bottom: none;
                border-radius: 0;
            }
            }
            }
        }
        
        &-drop {
            display: none;
            
            
            input {
                visibility: hidden;
            }

            @include r(tab-port){
                display: block;
                width: 50%;
                text-align: right;

            }
        }

        &-icon {
            color: rgba(0, 0, 0, 0.637);
            font-size: 2.5rem;
            font-weight: 700;
           
        }
    }

    &-text  {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50% , -30%);

        @include r(tab-port){
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        }

        &--other {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        

        }

        &--anim {
            color:$midnight-color ;
            font-weight: 700;
            border-right: 2px solid rgba(255,255,255,.75);
            font-size: 3rem;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            /* animation */ 
            animation: typewriter 4s steps(44) 2s 1,
            blinkTextCursor 200ms steps(44) infinite ;
            // animation-direction: alternate; 
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;   

            @include r(tab-port){
            font-size: 2.5rem;

            }

            @include r(phone){
            font-size: 2rem;

            }            
            
    }
        &--simple {
            color :$midnight-color ;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;

            @include r(tab-port){
                font-size: 1.8rem;
    
            }

        
            span {
                border-bottom: thin dotted  $primary-color-dark;
                background-color: white;
                border-radius: 2px;
                padding: 0 .5rem;
                // color: $primary-color-light;
            }

        }

    }
}