.main-product {
    padding-top: 10rem ;
    text-align: center;
    background-color: $grey-light-1;

    @include r(tab-port) {
    padding-top: 5rem ;
        
    }
    
    
}

.product {
    display : flex;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
    margin: 0 auto 10rem auto;
    flex-wrap: wrap;


    @include r(tab-land) {
        flex-wrap: wrap;
    }

    @include r(tab-port) {
        flex-direction: column;
        align-items: center;
    }

   
    &-container {
    width: 23%;
    margin-bottom: 4rem;
    background-color: rgb(255, 255, 255);

    @include r(tab-land) {
        width: 45%;
    }

    @include r(tab-port) {
        width: 60%;
    }

    @include r(phone) {
        width: 100%;
    }
    }
    &-card {
    box-shadow: 0 1px 1rem rgba(34, 31, 31, 0.08); 
    padding: 3rem 1.5rem ;       
    transition: all .3s;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    height: 35rem;
    overflow: hidden;

    
        &--img {
            width: 18rem;
        }

        p {
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.568);
            
            span {
                font-weight: 700;
                color: $midnight-color;
            }
        }

        &--buy {
            background-color: rgba(34, 190, 130, 0.507);
            display: inline-block;
            text-decoration: none ;
            color: black;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.151);
            transition: all .2s;
            width: 100%;
            padding: 2rem 0;
            position: relative;
            bottom: 0;
            left: 2px ;
            font-size: 1.5rem;

            &:hover {
                background-color:rgba(95, 236, 182, 0.507);

            }
        }
    }


}